version: "3.8"

services:
  jdownloader:
    image: jlesage/jdownloader-2:latest
    container_name: jdownloader-2
    restart: unless-stopped
    ports:
      - "5800:5800"
    environment:
      TZ: Europe/Berlin
    volumes:
      - ./data/jd-config:/config
      - ./data/jd-output:/output

  jd-webgui:
    build: ./jd-webgui
    container_name: jd-webgui
    restart: unless-stopped
    depends_on:
      - jdownloader
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      TZ: Europe/Berlin
    volumes:
      - ./data/jd-output:/output:rw
      - ./data/md5:/md5:rw
      - /root/.ssh/id_ed25519:/ssh/id_ed25519:ro
